{% extends "core/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="col-md-4 mx-auto">
    <h2>{% trans "Password Reset" %}</h2>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}Le hemos enviado un e-mail. Si no lo recibe compruebe su carpeta de spam. Si no es así, contáctenos en unos minutos.{% endblocktrans %}</p>
</div>
    {% endblock %}
