{% extends "core/base.html" %}

{% block content %}

    <div class="col-md-8 mx-auto">
        <h2>Perfil de Usuario</h2>
        <!-- <h6 class="text-info">¡Bienvenido! {{ user.username }}</h6> -->
        <hr>
        <p><strong>Nombre Usuario: </strong>{{ user.username }}</p>
        <p><strong>Nombre: </strong>{{ user.first_name }}</p>
        <p><strong>Apellido: </strong>{{ user.last_name }}</p>
        <p><strong>Correo Electrónico: </strong>{{ user.email }}</p>
        <hr>
    </div>

{% endblock %}
