{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<div class="alert alert-success" role="alert">
    <h6>Todos los artículos de '{{ author.username }}' - {{ author.first_name }} {{ author.last_name }}: ({{author.get_posts.all|length}})</h6>
</div>

{% for post in author.get_posts.all %}

    <div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-5">
        <img src={{ post.image.url }} class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-7">
        <div class="card-body">
            <a href={% url 'category' %}?cat={{post.category.id}}>{{ post.category }}</a>
            <h4 class="mb-0 mt-1">{{ post.title }}</h4>
            <p class="blog-post-meta my-1">{{ post.created|date:"d/m/Y. H:i" }}, por {{ post.author }}</a></p>
            <p class="card-text mb-auto">{{ post.excerpt }}</p>
            <p class="card-text"><small class="text-muted"><a href={% url 'post' post.id %}>Seguir leyendo</a></small></p>
        </div>
        </div>
    </div>
    </div>

{% endfor %}

<hr>

{% if request.path != '/' %}
    <div class="my-3">
        <a class="btn btn-success rounded-pill" href={% url 'home' %}>Volver al Inicio</a>
    </div>
{% endif %}
{% endblock %}