{% extends 'core/base.html' %}
{% load static %}

{% block content %}

{% for post in post_list %}
    {%if forloop.first%}
        <div class="alert alert-success" role="alert">
            <h6>Todos los artículos con la categoría '{{ category.name }}': ({{post_list|length}})</h6>
        </div>
    {%endif%}
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-5">
                <img src={{ post.image.url }} class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-7">
                <div class="card-body">
                    <strong class="d-inline-block mb-2 text-primary">{{ post.category }}</strong>
                    <h4 class="mb-0">{{ post.title }}</h4>
                    <div class="my-1 text-muted">{{ post.created|date:"d/m/Y. H:i" }}, por <a href={% url 'author' %}?aut={{post.author.id}}>{{ post.author }}.</a></div>
                    <p class="card-text mb-auto">{{ post.excerpt }}</p>
                    <p class="card-text"><small class="text-muted"><a href={% url 'post' post.id %}>Seguir leyendo</a></small></p>
                </div>
            </div>
        </div>
    </div>

{% empty %}

    <div class="alert alert-danger" role="alert">
        <h6>No existen artículos con la categoría: {{ category.name }}</h6>
    </div>

{% endfor %}

<hr>

{% if request.path != '/' %}
    <div class="my-3">
        <a class="btn btn-success rounded-pill" href={% url 'home' %}>Volver al Inicio</a>
    </div>
{% endif %}
{% endblock %}