{% extends 'core/base.html' %}
{% load static %}

{% block content %}
{% include 'core/includes/submenu.html' %}
<article class="blog-post mb-1">
    <div class="col-auto d-none d-lg-block">
        <img src={{ post.image.url }} class="img-fluid" alt="">
    </div>

    <strong class="d-inline-block mb-2 mt-3 text-primary"><a href={% url 'category'  %}?cat={{post.category.id}}>{{ post.category }}</a></strong>
    <h2 class="blog-post-title mb-1">{{ post.title }}</h2>
    <p class="blog-post-meta">{{ post.created|date:"d/m/Y. H:i" }}, por <a href={% url 'author' %}?aut={{post.author.id}}>{{ post.author }}</a></p>

    <p class="lead my-3">{{ post.excerpt }}</p>
    <hr>
    <p>{{ post.content | safe }}</p>

    <hr>
    <strong>Etiquetas:</strong>
    {% for tag in post.tags.all %}
    <a href={% url 'tag' %}?tag={{tag.id}}><span class="badge text-bg-info mb-3">{{ tag.name|upper }}</span></a>
    {% endfor %}

    <form action="{% url 'like_post' post.pk %}" method="post">
        {% csrf_token %}
        <a href="#"><i class="bi bi-arrow-up-circle fs-4 text-info"></i></a>
        {% if user.is_authenticated %}
            {% if liked %}
                <button type="submit" class="btn" name="post_id", value="{{post.id}}">
                    <span class="fs-4 text-info"><i class="bi bi-heart-fill"></i></span>
                    <span class="fs-6">{{total_likes}}</span>
                </button>
            {% else %}
                <button type="submit" class="btn" name="post_id", value="{{post.id}}">
                    <span class="fs-4 text-info"><i class="bi bi-heart"></i></span>
                    <span class="fs-6">{{total_likes}}</span>                </button>
            {% endif %}
        {% else %}
            <small>Haga login para dar Me Gusta <a href="{% url 'account_login' %}"><span class="fs-6 text-info"><i class="bi bi-heart-fill"></i></span></a>  {{ total_likes }}</small>
        {% endif %}
    </form>
    
</article>

<!-- <div class="my-3">
    <a class="btn btn-success rounded-pill" href={% url 'home' %}>Volver al Inicio</a>
</div> -->

{% endblock %}