{% extends 'core/base.html' %}
{% load static %}

{% block content %}

{% for post in post_list %}
    {%if forloop.first%}
        <div class="alert alert-success" role="alert">
            <h6>Posts con la etiqueta <span class="badge text-bg-info"> {{ tag.name|upper }}</span> : {{post_list|length}}</h6>
        </div>
        <div>
            <input type="text" class="form-control mt-3" id="input-search" placeholder="Filtrar por título...">
        </div>
        <table class="table table-light table-striped table-responsive mt-3">
            <thead>
                <tr>
                    <th class="small" scope="col"># <i class="small th-icon bi bi-arrow-down-up"></i></th>
                    <th class="small" scope="col">Titulo <i class="small th-icon bi bi-arrow-down-up"></i></th>
                    <th class="small" scope="col">Autor <i class="small th-icon bi bi-arrow-down-up"></i></th>
                    <th class="small" scope="col">Cat <i class="small th-icon bi bi-arrow-down-up"></i></th>
                    <th class="small" scope="col">Fecha <i class="small th-icon bi bi-arrow-down-up"></i></th>
                </tr>
            </thead>
            <tbody id="tbody-id">
    {%endif%}
            <tr>
                <td>{{post.id}}</td>
                <td><a href={% url 'post' post.id %}>{{post.title|truncatewords:6}}</a></td>
                <td><a href={% url 'author' %}?aut={{post.author.id}}>{{ post.author}}</a></td>
                <td>{{ post.category}}</td>
                <td>{{ post.created|date:"d/m/Y"}}</td>
            </tr>

{% empty %}

    <div class="alert alert-danger" role="alert">
        <h6>No existen posts con la etiqueta: {{ tag.name }}</h6>
    </div>

{% endfor %}
        </tbody>
    </table>

<hr>

{% if request.path != '/' %}
    <div class="my-3">
        <a class="btn btn-success rounded-pill" href={% url 'home' %}>Volver al Inicio</a>
    </div>
{% endif %}
  
{% endblock %}